.canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.player {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}